* {
	font-family: "Inconsolata";
}
.what a {
	color: #111;
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-property: all;
	transition-duration: 0.2s;
	margin-left: 10px;
}
.what a:hover {
	border-left: 1px solid #333;
	
	padding-left: 10px;
	padding-top: 5px;
	font-weight: bold;
	margin-top: 50px;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
}
.title h1 {
	font-family: "Fjalla One";
	text-align: center;
	font-size: 5em;
	padding: 0;
	margin: 0;
	font-weight: 700;
	text-decoration: none;
}
#ach1 {
	text-decoration: none;
	color: #111;
}
.title p {
	font-size: 1.2em;
	text-align: center;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 700;
}
.title {
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
	background: #f9f9f9;
	width: 100%;
}
.title .soc {
	width: 50%;
	margin: auto;
	text-align: center;
}
.title .soc a {
	width: 25%;
	color: #333;
	text-align: center;
	display: inline;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.2s;
	padding: 3px;
}
.title .soc a i {
	font-size: 1.5em;
}
.title .soc .tumblr:hover {
	color: #ff9933;
}
.title .soc .github:hover {
	color:#5ca941;
}
.title .soc .twitter:hover {
	color:#0084b4;
}
.title .soc .youtube:hover {
	color: #e52d27;
}
.proj {
	list-style: none;
}
.proj li {
	margin-top: 30px;
}
.proj a {
	color: #111;
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	transition-property: all;
	transition-duration: 0.2s;
	margin-left: 10px;
}
.proj a:hover {
	border-left: 1px solid #333;
	padding-left: 10px;
}
.container {
	width: 70%;
	margin: auto;
	text-align: justify;
}
.about, .what {
	border-bottom: 1px solid #333;
}
.footer {
	width: 100%;
	margin: 0;
	bottom: 0;
	position:fixed;
	text-align: center;
	background: #f9f9f9;
}

@media (max-width: 600px) {
	.footer {
		display: none;
	}
}

@media (max-width: 328px) {
	.title h1 {
		font-size: 2.5em;
	}
	.title p {
		font-size: 0.6em;
	}
	p {
		font-size: 0.5em;
	}
	.title .soc a i {
		font-size: 0.75em;
	}
	h2 {
		font-size: 1em;
	}
	ul li {
		font-size: 0.5em;
	}
}
