body {
  font-family: "Nunito";
  color: #000;
  background: #f9f9f9;
}
@media (max-width: 720px) {
  body {
    font-size: 1.3em;
  }
}
body #main-h1 {
  font-family: "Pacifico";
  font-weight: normal;
}
body .fa-twitter, body .fa-github, body .fa-envelope, body .fa-linkedin {
  transition-property: all;
  transition-duration: 0.2s;
}
body .fa-twitter:hover {
  color: #1DA1F2;
}
body .fa-github:hover {
  color: #6cc644;
}
body .fa-envelope:hover {
  color: #db0011;
}
body .fa-linkedin:hover {
  color: #4875B4;
}
body .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body h2 {
  font-size: 3.2em;
  text-align: center;
  font-family: "Nunito";
}
body #first {
  background: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  size: cover;
  text-align: center;
}
body #first h1 {
  -webkit-transform: rotate(-21deg);
  -moz-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  -o-transform: rotate(-21deg);
  transform: rotate(-21deg);
  margin-top: 20%;
  margin-left: 50%;
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Pacifico";
}
@media (max-width: 1521px) {
  body #first h1 {
    font-size: 1.41em;
  }
}
@media (max-width: 1385px) {
  body #first h1 {
    font-size: 0.99em;
  }
}
@media (max-width: 1290px) {
  body #first h1 {
    margin-top: 40%;
    margin-left: 55%;
    font-size: 1.2em;
  }
}
@media (max-width: 581px) {
  body #first h1 {
    margin-top: 52%;
  }
}
body #third {
  text-align: center;
}
body #third ul {
  list-style: none;
}
body #third ul li {
  float: left;
  width: 25%;
  font-family: "Roboto Mono", monospace;
}
@media (max-width: 720px) {
  body #third ul li {
    float: none;
    text-align: center;
    width: auto;
  }
}
body #second, body #third, body #fourth {
  margin-top: 0px;
  padding: 1px;
  height: 1px;
  width: 70% !important;
  margin: auto !important;
}
body #fourth ul {
  list-style: none;
}
body #fourth ul li {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 3em;
}
body #fourth ul li a {
  text-decoration: none;
  color: #000;
}

