body {

	@media (max-width: 720px) {
		font-size: 1.3em;
	}
	#main-h1 {
		font-family: "Pacifico";
		font-weight: normal;
	}


	.fa-twitter, .fa-github, .fa-envelope {
			transition-property: all;
		transition-duration: 0.2s;
	}
	.fa-twitter:hover {
		color: #1DA1F2;
	}
	.fa-github:hover {
		color: #6cc644;
	}
	.fa-envelope:hover {
		color: #db0011;
	}

	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	h2 {
		font-size: 3.2em;
		text-align: center;
		font-family: "Ubuntu";

	}
	font-family: "Nunito";
	color: #000;
	background: #f9f9f9;
	#first {
		background: url("../img/logo.svg");
		background-repeat: no-repeat;
    	//background-attachment: ;
    	background-position: center;
		size: cover;
		text-align: center;
		h1 {
			-webkit-transform: rotate(-21deg);
			   -moz-transform: rotate(-21deg);
			    -ms-transform: rotate(-21deg);
			     -o-transform: rotate(-21deg);
			        transform: rotate(-21deg);
			margin-top: 20%;
			margin-left: 50%;
			font-size: 1.7em;
			font-weight: bold;
			font-family: "Pacifico";
			@media (max-width: 1521px) {
				font-size: 1.41em;
			}
			@media (max-width: 1385px) {
				font-size: 0.99em;
			}
			@media (max-width: 1290px) {
				margin-top: 40%;
				margin-left: 55%;
				font-size: 1.2em;
			}
			@media (max-width: 581px) {
				margin-top: 52%;
			}
		}

	}

	#third {
		text-align: center;
		ul {
			list-style: none;
			li {
				float: left;
				width: 20%;
				font-family: monospace;
				@media (max-width: 720px) {
					float: none;
					text-align: center;
					width: auto;
				}
			}
			#node {

			}
		}
	}

	#second, #third, #fourth {
		margin-top: 0px;
		padding: 1px;
		height: 1px;
		width: 70% !important;
		margin: auto !important;

	}
	#fourth {

		ul {
			list-style: none;

			li {
				float: left;
				width: 33%;
				text-align: center;
				font-size: 3em;
				a {
					text-decoration: none;
					color: #000;
				}

		}
	}
	}
}
