.projects {
	background: complement($orange);
	//border-bottom: 5px solid darken(complement($orange), 15%);
	.clear {
		display: block;
	}
	&:hover {
		cursor: url(http://ani.cursors-4u.net/smiley/smi-3/smi296.cur), progress !important;
	}
	.projPan>div {
		width: 90%;
		margin: auto;
		margin-bottom: 10px;
		margin-left: 20px;
		h3 {
			text-align: center;
			font-size: 0.983em;
			transition-property: all;
			transition-duration: .2s;
		}
		&:hover {
			h3 {
			 	transform: rotate(-10deg)
			}
		}
		background: #ccc;
		border-radius: 20px;
		border: 8px solid darken(#eee, 20%);
		@media (min-width: 1024px) {
			width: 46%;
			float: right;

		}
	}
	@media (min-width: 1024px) {
		padding: 0.1em;
	}
	
}